<div class="container">
  <h2 class="page-title">エールが登録されました！</h2>
  <div class="success-wrapper">
    <p class="success-message">あなたのエールが誰かに届きますように！</p>
  

    <%= link_to root_path, class: "btn btn-custom" do%>
      <span class="btn-custom-front btn-top"><%= icon('fa-solid', 'house') %> TOPにもどる</span>
      <i class="fas fa-angle-right fa-position-right"></i>
    <% end %>
  </div>

</div>
